<style>
  body {
    background-image: url("/assets/images/puget (1).jpg");
  }
</style>
<div class="container" style="font-family:'Open Sans Condensed', sans-serif; font-size:20px; margin-top:100px">

  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <img style="height:300px; width:300px" src="/assets/images/ferry ride (1).jpg">
  </div>
  <div class="col-md-5" style="color:white">
    <h1>About Me</h1>
      <p>I am long-time computer enthusiast, and enjoy technology in all of it's forms. After a five year career in law enforcement, I've decided to finally pursue my passion for tech, and embark on a journey which will assuredly open more doors and offer many opportunities. I've worn many different hats during my lifetime- musician, correctional officer, retail manager, and victim advocate, to name a few. Given this, I am hoping that my plethora of professional experience, combined with my passion for computer programming, will lead me to my next adventure.</p>
  </div>
  <div class="col-md-2">
  </div>
</div>
