<style>
  body {
    background-image: url("/assets/images/poulsbo (1).jpg");
  }
</style>

<div class ="col-md-4" style="margin-left:33%;  margin-top:1%; font-family: 'Open Sans Condensed', sans-serif;">

  <div class="panel panel-default; row-md-4">
    <div class="panel-body">
      <a href="" style="float:left">
        <img style="height:100px; width:100px;" class="media-object" src="/assets/images/gmail.png" alt="Gmail Icon">
      </a>
      <span style="font-size:40px">Gmail</span>
    </div>
  </div>

  <div class="panel panel-default; row-md-4">
    <div class="panel-body">
      <a href="https://github.com/SanityEclipse" style="float:left">
        <img style="height:100px; width:100px;" class="media-object" src="/assets/images/GitHub-Mark-120px-plus.png" alt="Github Icon">
      </a>
      <span style="font-size:40px">GitHub</span>
    </div>
  </div>

  <div class="panel panel-default; row-md-4">
    <div class="panel-body">
      <a href="https://www.linkedin.com/in/tnriii" style="float:left; margin-top:5px">
        <img style="height:100px; width:100px;" class="media-object" src="/assets/images/In-2C-128px-TM.png" alt="LinkedIn Icon">
      </a>
      <span style="font-size:40px">Linked In</span>
    </div>
  </div>

</div>
