<style>
  body {
    background-image: url("/assets/images/poulsbo (1).jpg");
  }
</style>

<div class ="col-md-4" style="margin-left:33%;  margin-top:2.5%; font-family: 'Open Sans Condensed', sans-serif;">

  <div class="panel panel-default; row-md-4" style="color:white; background-color:black; opacity: 0.8">
    <div class="panel-body">
      <a href="mailto:thomasnrizzo@gmail.com" style="float:left">
        <img style="height:100px; width:100px;" class="media-object" src="/assets/images/gmail.png" alt="Gmail Icon">
      </a>
      <a href="mailto:thomasnrizzo@gmail.com" style="color:white"><span style="font-size:40px">Gmail</span></a>
    </div>
  </div>

  <div class="panel panel-default; row-md-4" style="color:white; background-color: black; opacity: 0.8">
    <div class="panel-body">
      <a href="https://github.com/SanityEclipse" style="float:left">
        <img style="height:100px; width:100px" class="media-object" src="/assets/images/GitHub-Mark-Light-120px-plus.png" alt="Github Icon">
      </a>
      <a href="https://github.com/SanityEclipse" style="color:white; font-size:40px"><span>GitHub</span></a>
    </div>
  </div>


  <div class="panel panel-default; row-md-4" style="color:white; background-color:black; opacity: 0.8">
    <div class="panel-body">
      <a href="https://www.linkedin.com/in/tnriii" style="float:left; margin-top:5px">
        <img style="height:100px; width:100px;" class="media-object" src="/assets/images/In-2C-128px-TM.png" alt="LinkedIn Icon">
      </a>
      <a href="https://www.linkedin.com/in/tnriii" style="color:white; font-size:40px"><span>Linked In</span></a>
    </div>
  </div>

</div>
