
<div class="container-fluid" align="center" style="margin-top: 10px; font-family:'Open Sans Condensed', sans-serif; font-size:50px">

    <div>
        <img style="height:250px; width:250px; margin-top:40px; opacity: 0.9; float:center" src="/assets/images/ferry ride (1).jpg" align="center" alt="Thomas Rizzo">
    </div>

    <div class="row">

      <div class="col-md-3">
      </div>

      <div class="col-md-2">
        <a class="link" href="/#about">About Me</a>
      </div>

      <div class="col-md-2">
        <a class="link" href="/#projects">Projects</a>
      </div>

      <div class="col-md-2">
        <a class="link" href="/#contact">Contact</a>
      </div>

      <div class="col-md-3">
      </div>

    </div>

  </div>
