
<div>
    <img style="height:250px; width:250px; margin-top:40px; margin-left:40%; opacity: 0.9; float:center" src="/assets/images/ferry ride (1).jpg" align="center" alt="Thomas Rizzo">
</div>
<div>
  <div align="center" style="margin-top: 20px; font-family:'Open Sans Condensed', sans-serif; font-size:50px">
    <span><a class="link" href="/#about">About Me</a></span>
    <span><a class="link" href="/#projects">Projects</a></span>
    <span><a class="link" href="/#contact">Contact</a></span>
  </div>
</div>
