<div class="container" style="font-family:'Open Sans Condensed', sans-serif;">

  <h1 id="projectsHeader"> My Creations </h1>

  <div style="">

  <div class="col-md-4" style="">

    <a class="link" href="https://thelastflametemplar.herokuapp.com/"><h2>The Last Flame Templar</h2></a>

      <p>A retro-styled platforming game, created with the Phaser framework.
        The player will assume the mantle of the flame templar as they navigate
        through three full length levels.</p>
<img src="assets/images/Hero-front.png" style="height:100px; width:100px; opacity:0.5; margin-left: 70px">


  </div>

  <div class="col-md-4" style="">

    <a class="link" href="https://office-anywhere.herokuapp.com/"><h2>Office Anywhere</h2></a>

      <p>A handy utility application for the professional on the go. Users can
        search for businesses near them that offer workspace and other amenities.
        Registered users may also leave comments on specific venues.</p>

      <h3 style="font-family: 'Oleo Script', cursive; margin-left: 40px; opacity: 0.7; margin-top:40px">Office Anywhere</h3>

   </div>

  <div class="col-md-4" style="">

    <a class="link" href="https://glacial-sierra-53589.herokuapp.com"><h2>The Flame Paladin Saga</h2></a>

    <p>A full-stack application built with Angular 2. Features a new game, "The Flame Paladin Saga", as well as additional pages
    that include information about how the game and application were created.
    </p>

    <div style="margin-left:40px">
      <img src="http://piskel-imgstore-b.appspot.com/img/6f5c209e-ce1c-11e6-9c85-d501917402ec.gif" style="opacity: 0.5"/>
      <img src="http://piskel-imgstore-b.appspot.com/img/cd8a457d-ce1b-11e6-b51f-d501917402ec.gif" style="opacity: 0.5"/>
      <img src="http://piskel-imgstore-b.appspot.com/img/6f5c209e-ce1c-11e6-9c85-d501917402ec.gif" style="opacity: 0.5"/>
    </div>

  </div>

</div>

</div>
