<div class="container" style="font-family:'Open Sans Condensed', sans-serif;">

  <h1 id="projectsHeader"> My Creations </h1>

  <div style="margin-left:10%">

  <div class="col-md-5" style="">

    <a class="link" href="https://thelastflametemplar.herokuapp.com/"><h2>The Last Flame Templar</h2></a>

      <p>A retro-styled platforming game, created with the Phaser framework.</br>
        The player will assume the mantle of the flame templar as they navigate</br>
        through three full length levels.</p>
<img src="assets/images/Hero-front.png" style="height:100px; width:100px; opacity:0.5; margin-left:100px">


  </div>

  <div class="col-md-5" style="">

    <a class="link" href="https://office-anywhere.herokuapp.com/"><h2>Office Anywhere</h2></a>

      <p>A handy utility application for the professional on the go. Users can </br>
        search for businesses near them that offer workspace and other amenities.</br>
        Registered users may also leave comments on specific venues.</p>

      <h3 style="font-family: 'Oleo Script', cursive; margin-left:75px; opacity: 0.7; margin-top:40px">Office Anywhere</h3>

   </div>

</div>

</div>
