/*body {
  background-image: url("/assets/images/poulsbo (1).jpg");
  background-repeat: no-repeat;
  background-size: 200vh 200vw;
}*/

#aboutMe {
  font-family:'Open Sans Condensed', sans-serif;
  font-size: 2em;
  margin-top: 18vh;
  color: black;

}

#aboutMe > div > img {
  height: auto;
  width: 25vw;

}
