<div class="jumbotron" [@loadSiteLanding] *ngIf="isVisible">
  <div class="transbox">
    <h1>Hello, world!</h1>
    <p>
      I have a passion for development in all of it's forms. From Angular 2 to JavaScript, SQL to PHP, I strive to find the most effective and efficient way to execute the applications I build.
    </p>
    <p>
      Whether it is for a Fortune 500 company or a brand new start-up, I am dedicated to working as a team to develop the applications that will solve the problems you face.
    </p>
    <p>
      Let's work together to find the best solutions for your business.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Contact Me</a>
    </p>
  </div>
</div>
