.navbar {
  background-color: black;
  opacity: 0.9;
}

.header {
  opacity: 0.9;
  padding: 1px;
  font-family: 'Open Sans Condensed', sans-serif;

}

#headerLink {
  color: white;
  text-decoration: none;

}

#headerLink:hover {
  color: red;

}
